{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Route</th>
      <th>Grade</th>
      <th>Average</th>
      <th>Ratings</th>
      <th></th>
      <th></th>
    </tr>
    {% for route in routes %}
    <tr>
      <td>{{ route.name }}</td>
      <td>{{ route.grade }}</td>
      <td>{{ route.average_rating(route) }}</td>
      <td>{{ route.number_of_ratings(route) }}</td>
      <td>
        <table><tr>
          <form method="POST" action="{{ url_for('ratings_create', route_id=route.id ) }}">
            {% for subfield in form.new_rating %}
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
            {% endfor %}
            <td><input type="submit" value="Rate"/></td>
          </form>
        </tr></table>
      </td>
      <td>
        <form method="POST" action="{{ url_for('routes_delete', route_id=route.id ) }}" >
          <input type="submit" value="Delete" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
