{% extends "layout.html" %} {% block body %}
<h2>All routes</h2>
<p class="centered" id="table-width-p">
  Please note that each rating saves the anthropometric data you have added at
  the moment of rating. Ratings are meant to reflect how much a user with
  certain body type likes each route.
</p>
<table class="table">
  <tr>
    <th>Route</th>
    <th>Grade</th>
    <th>Average</th>
    <th>Ratings</th>
    {% if current_user.is_authenticated %}
    <th>You Rated</th>
    {% endif %}
  </tr>
  {% for route in routes %}
  <tr>
    <th>{{ route.name }}</th>
    <td>{{ route.grade }}</td>
    <td>{{ route.average_rating(route) }}</td>
    <td>{{ route.number_of_ratings(route) }}</td>
    {% if current_user.is_authenticated %}
    <td>{{ route.own_rating_value(current_user) }}</td>
    {% endif %}
  </tr>
  <tr class="xs">
    <td colspan="1" class="delete-route">
      {% if current_user.id == route.creator_account_id or current_user.role ==
      "ADMIN" %}
      <form
        method="POST"
        action="{{ url_for('routes_delete', route_id=route.id ) }}"
      >
        <button type="submit">Delete route</button>
      </form>
      {% endif %}
    </td>
    <td colspan="3" class="rate">
      <form
        method="POST"
        action="{{ url_for('ratings_create', route_id=route.id ) }}"
      >
        {% for subfield in form.new_rating %}
        {{ subfield.label }} {{ subfield }}
        {% endfor %}
        <button type="submit">Rate</button>
      </form>
    </td>
    {% if current_user.is_authenticated and route.own_rating_id(current_user) %}
    <td colspan="1" class="delete-rating">
      <form
        method="POST"
        action="{{ url_for('ratings_delete', rating_id=route.own_rating_id(current_user) ) }}"
      >
        <button type="submit">Delete rating</button>
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
