{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('routes_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        {{ form.grade.label }}
      </td>
      <td>
        {{ form.grade }}
      </td>
    </tr>
    <tr>
        <td></td>
        <td>
          {{ message }}
          <ul>
            {% for error in form.name.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
        <td></td>
        <td></td>
      </tr>
    <tr>
      <td colspan="4">
        <input type="submit" value="Add a new route" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}