{% extends "layout.html" %} {% block body %}
<h2>Add a new route</h2>
{{ message }}
<form method="POST" action="{{ url_for('routes_create') }}" class="small-form">
  <div class="form-group small-form">
    {% if form.name.errors %}
    <ul>
      {% for error in form.name.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {{ form.name.label }}
    {{ form.name }}
    <br />
    {{ form.grade.label }}
    {{ form.grade }}
    <br />
    <button type="submit">Add</button>
  </div>
</form>
{% endblock %}
