{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('users_create') }}">
  <table>
    <tr>
      <td>
        {{ form.username.label }}
      </td>
      <td>
        {{ form.username }}
      </td>
      <td>
        <ul>
          {% for error in form.username.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        {{ form.password.label }}
      </td>
      <td>
        {{ form.password }}
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <input type="submit" value="Create a user account" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}